{{ cat .feed.reddit_url "reddit" "\"~" .feed.reddit_username "\"" }}

# news
https://www.anandtech.com/rss/ news
https://liliputing.com/feed sff news
https://feeds.feedburner.com/servethehome news
https://www.cnx-software.com/feed embedded news

# blogs
https://toonk.io/rss/index.xml blog networking "~Toonk.io"
https://hackaday.com/blog/feed/ embedded "~Hackaday"
http://brendangregg.com/blog/rss.xml blog
https://www.jeffgeerling.com/blog.xml blog
https://blog.thelifeofkenneth.com/feeds/posts/default blog
http://samkear.com/feed blog
https://wrongbaud.github.io/feed.xml blog

# forums
https://forums.servethehome.com/index.php?forums/great-deals.8/index.rss forums "~STH - Great Deals"

# security
https://tldrsec.com/feed.xml security

#
https://blog.runbox.com/feed/
https://cumulusnetworks.com/blog/?feed=rss2
https://labs.spotify.com/feed/
https://backstage.io/blog/feed.xml

# Arch
https://archlinux.org/feeds/news/ arch "~Arch Linux: News"
https://archlinux.org/feeds/packages/x86_64/core/ arch "~Arch Linux: Core Updates"
