{{- $email := .email -}}
{{- if not $email -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $fullname := .fullname -}}
{{- if not $fullname -}}
{{-   $fullname = promptString "full name" -}}
{{- end -}}

{{- $mysql_db_name := .mysql_db_name -}}
{{- if not $mysql_db_name -}}
{{-   $mysql_db_name = promptString "mysql DB Name" -}}
{{- end -}}

{{- $reddit_url := .feed.reddit_url -}}
{{- if not $reddit_url -}}
{{-   $reddit_url = (index (lastpass "reddit_private_feed") 0).url -}}
{{- end -}}

{{- $reddit_username := .feed.reddit_username -}}
{{- if not $reddit_username -}}
{{-   $reddit_username = (index (lastpass "reddit_private_feed") 0).username -}}
{{- end -}}

{{- $openweathermap_api_key := .openweathermap.api_key -}}
{{- if not $openweathermap_api_key -}}
{{-   $openweathermap_api_key = (index (lastpass "openweathermap_api_key") 0).password -}}
{{- end -}}

{{- $yubico_favorites := .yubico.favorites -}}
{{- if not $yubico_favorites -}}
{{-   $yubico_favorites = (index (lastpassRaw "yubico_favorites") 0).note -}}
{{- end -}}
data:
    email: {{ $email }}
    fullname: {{ $fullname }}

    feed:
        reddit_username: {{ $reddit_username }}
        reddit_url: |-
            {{ $reddit_url }}

    openweathermap:
        api_key: {{ $openweathermap_api_key }}

    yubico:
        favorites: |-
            {{ $yubico_favorites }}

    mysql:
        db_name: {{ $mysql_db_name }}
