{{- $email := dig "email" "" . -}}
{{- if not $email -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $fullname := dig "fullname" "" . -}}
{{- if not $fullname -}}
{{-   $fullname = promptString "full name" -}}
{{- end -}}

{{- $mysql_db_name := dig "mysql" "db_name" "" . -}}
{{- if not $mysql_db_name -}}
{{-   $mysql_db_name = promptString "mysql DB Name" -}}
{{- end -}}


{{- $reddit_url := dig "feed" "reddit_url" "" . -}}
{{- $reddit_username := dig "feed" "reddit_username" "" . -}}
{{- $openweathermap_api_key := dig "openweathermap" "api_key" "" . -}}
{{- $yubico_favorites := dig "yubico" "favorites" "" . -}}

{{- if lookPath "lpass" -}}
{{- if not $reddit_url -}}
{{-   $reddit_url = (index (lastpass "reddit_private_feed") 0).url -}}
{{- end -}}

{{- if not $reddit_username -}}
{{-   $reddit_username = (index (lastpass "reddit_private_feed") 0).username -}}
{{- end -}}

{{- if not $openweathermap_api_key -}}
{{-   $openweathermap_api_key = (index (lastpass "openweathermap_api_key") 0).password -}}
{{- end -}}

{{- if not $yubico_favorites -}}
{{-   $yubico_favorites = (index (lastpassRaw "yubico_favorites") 0).note -}}
{{- end -}}
{{- else -}}
{{- if not $reddit_url -}}
{{-   $reddit_url = "" -}}
{{- end -}}

{{- if not $reddit_username -}}
{{-   $reddit_username = "" -}}
{{- end -}}

{{- if not $openweathermap_api_key -}}
{{-   $openweathermap_api_key = "" -}}
{{- end -}}

{{- if not $yubico_favorites -}}
{{-   $yubico_favorites = "" -}}
{{- end -}}

{{- end -}}

[hooks.apply.post]
command = "__chezmoi_post_apply"

[data]
email = {{ $email | quote }}
fullname = {{ $fullname | quote }}
nerd_font = "JetBrainsMono NFM"

[data.feed]
reddit_username = {{ $reddit_username | quote }}
reddit_url = {{ $reddit_url | quote }}

[data.openweathermap]
api_key = {{ $openweathermap_api_key | quote }}

[data.yubico]
favorites = {{ $yubico_favorites | quote }}

[data.mysql]
db_name = {{ $mysql_db_name | quote }}
