[alias]
    aliases = "!git config -l | grep alias | cut -c 7-"
    diff-stash = "!f() { git stash show -p stash@{${1:-0}}; }; f"
    c = commit
    cm = commit -m
    co = checkout
    cob = checkout -b
    cam = commit -am
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative))%(color:reset) %(color:cyan)[%(authorname)]%(color:reset)'
    brm = branch -m
    dc = diff --cached
    dlc = diff --cached HEAD^
    lt = describe --tags --abbrev=0
    l = log --oneline --graph --decorate -n 20
    lg = log -p
    ll = log --oneline --graph --decorate
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    po = !git push -u origin $(git branch --show-current)
    # we need to force delete here because of all of our squashing
    pb = !git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D
    pf = push --force
    tracked = ls-tree -r @ --full-tree --name-only
    undo = reset HEAD~1 --mixed

[branch]
    autoSetupMerge = always
    autoSetupRebase = always
    sort = -committerdate

[credential]
    helper = cache --timeout=3600

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[commit]
    gpgSign = true

[core]
    excludesfile=~/.vcsignore
    pager = {{ if (lookPath "delta") }}delta{{ else }}less -R{{ end }}

[diff]
    colorMoved = default

{{ if lookPath "delta" -}}
[pager]
    diff = delta
    show = delta
    log = delta
    blame = delta
    reflog = delta

[interactive]
    diffFilter = delta --color-only

[include]
    path = ~/.local/share/delta/themes.gitconfig

[delta]
    features = mellow-barbet
    hyperlinks = true

[merge]
    conflictStyle = zdiff3
{{- end }}

[init]
    defaultBranch = main

[fetch]
    prune = true

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[gpg]
    format = ssh

[help]
    autocorrect = 1

[ui]
    color = true

[pull]
    ff = only
    rebase = merges

[push]
    default = simple
    followTags = true

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[rerere]
    enabled = true
    autoUpdate = true

[tag]
    gpgSign = true

[url "ssh://git@github.com/"]
      insteadOf = https://github.com/
[url "git@github.com:"]
    insteadOf = gh:
[url "git@gitlab.com:"]
    insteadOf = gl:
[url "git@bitbucket.org:"]
    insteadOf = bb:

[user]
    email = {{ .email }}
    name = {{ .fullname }}
    signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJOXjK3lFzYXZx682Osg3hNagm5TmmGTygNHNETLbLNO
