# vi:syntax=toml

{{ $nc700 := output
    ( joinPath .chezmoi.sourceDir "helpers" "bluetooth-device-paired.sh")
    "Bose NC 700 Head" -}}

{{ $px7 := output
    ( joinPath .chezmoi.sourceDir "helpers" "bluetooth-device-paired.sh")
    "PX7 Bowers & Wilkins" -}}

[theme]
theme = "nord-dark"
[theme.overrides]
separator = ""

[icons]
icons = "material-nf"

[[block]]
block = "custom"
interval = "once"
command = ''' jq -n --arg k "$(uname -r)" '{"state": "Info", "text": $k}' '''
json = true

[[block]]
block = "custom"
interval = "once"
signal = 1
command = ''' current-context '''

[[block]]
block = "music"
format = " $icon {$combo.str(max_w:75,rot_interval:0.5) $play |}"

{{ if $nc700 -}}
[[block]]
block = "bluetooth"
mac = {{ $nc700 | quote }}
# format = "Bose NC700 {percentage}"
# format_unavailable = "Bose NC700 x"
{{- else -}}
# skipped Bose NC700
{{- end }}

{{ if $px7 -}}
[[block]]
block = "bluetooth"
mac = {{ $px7 | quote }}
# format = " $icon B&W PX7{ $percentage|} "
# disconnected_format = " $icon{ B&W PX7|} "
{{- else -}}
# skipped PX7
{{- end }}

[[block]]
block = "sound"
headphones_indicator = true
show_volume_when_muted = true
format = " $icon {$output_name} {$volume} |"

[[block.click]]
button = "left"
cmd = {{ (joinPath .chezmoi.homeDir ".local" "bin" "toggle_sinks") | quote }}

[block.mappings]
"alsa_output.pci-0000_0e_00.4.analog-stereo" = "󰋋"
"alsa_output.pci-0000_0c_00.1.hdmi-stereo-extra3" = "󰴸"
"bluez_sink.B0_67_2F_1C_94_26.*" = "󰂰"

[[block]]
block = "sound"
device_kind = 'source'
show_volume_when_muted = true

[[block]]
block = "weather"
format = " $icon $weather $temp"
interval = 900

[block.service]
name = "openweathermap"
api_key = "{{ .openweathermap.api_key }}"
city_id = "4377664"
units = "imperial"

[[block]]
block = "time"
interval = 60

[block.format]
full = " $icon $timestamp.datetime(f:'%a %b %d %R') "
short = " $icon $timestamp.datetime(f:%R) "

[[block]]
block = "tea_timer"
done_cmd = "dunstify -a Tea Timer -u critical 'Timer finished!'; espeak '[[_::_::_::]] timer finished'"

[[block]]
block = "custom"
command = "browsers GET"
interval = "once"
signal = 2
[[block.click]]
button = "left"
cmd = "{{ (joinPath .chezmoi.homeDir ".local" "bin" "browsers") }} CYCLE"

[[block]]
block = "notify"

[[block]]
block = "custom"
command = "echo \uf011"
interval = "once"
[[block.click]]
button = "left"
cmd = {{ (joinPath .chezmoi.homeDir ".local" "bin" "powermenu") | quote}}
