# TODO(jdt): refactor to find asdf and use correct location
{{ if stat "/opt/asdf-vm/asdf.sh" -}}
source "/opt/asdf-vm/asdf.sh"
{{- end }}
{{ if stat "/opt/homebrew/opt/asdf/libexec/asdf.sh" -}}
source "/opt/homebrew/opt/asdf/libexec/asdf.sh"
{{- end }}

