{{ if lookPath "starship" -}}
{{- $sem := replace " " "_" (cat "JDT_STARSHIP_INIT" (upper .shell)) -}}
if [ -z "${{ $sem }}" ];
then
    eval "$(starship init {{ .shell }})"
    export {{ $sem }}=1
fi
{{- else -}}
# starship init omitted
{{- end }}

